.blogs-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .blog {
        border: 1px solid gray;
        border-radius: 3px;
        padding: 10px;
        margin: 10px 10px;
        width: 400px;
        text-align: left !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         align-items: center;
         

        .content {
            margin: 10px 0;
            min-height: 10px;
        }

        .title {
            font-size: 18px;
            font-weight: 500;
            
        }
        .btdetail {
           
            padding: 2px 17px;
            align-self: center;
        }
    }
}

.blogdetail {
        border: 1px solid gray;
        border-radius: 3px;
        padding: 10px;
        margin: 10px 10px;
       
}
.add-new-blog {
    padding: 10px;
    max-width: 500px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 2px;
    margin: 50px auto;

    .add-text {
        margin: 10px 0;

    }
    .inputs-data {
        text-align: left;
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;

    }

    .btn-submit {
        cursor: pointer;
    }
}

.btn-add-blog {
    margin-top: 20px;
    text-align: left !important;
}